---
import type { CardIndexProps } from "../interfaces/Interface";
const { title, title_en, description, description_en } = Astro.props as CardIndexProps;
---

<section class="bg-gradient-to-br from-blue-900 to-blue-400 p-6 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
    <h2 class="text-2xl font-semibold text-orange-700 mb-4">
      <span data-lang="es">{title}</span>
      <span data-lang="en" class="hidden">{title_en}</span>
    </h2>
    <p class="leading-relaxed" data-lang="es" set:html={description} ></p>
    <p class="leading-relaxed hidden" data-lang="en" set:html={description_en} ></p>
</section>